<div class="panel-center col-md-5">
  <div class="panel-heading">
    <div class="text-left">
      <h2> Crear una pregunta </h2>
    </div>
  </div>

  <%= render "form", label: "Crear pregunta" %>
</div>