<div class="panel-center col-md-5">
  <div class="panel-heading">
    <div class="text-left">
      <h2> Editar la etiqueta "<%=@tag.nombre%>"</h2>
    </div>
  </div>

  <%= render "form", msgsub: "Editar etiqueta" %>

</div>