<div class="panel-center col-md-5">
  <div class="panel-heading">
    <div class="text-left">
      <h3> Comentar "<%= $q.pregunta %>" </h3>
    </div>
  </div>

  <%= render "form", msgsub: "Comentar" %>

</div>
