<div class="panel-center col-md-8">
  <div class="panel-heading">
    <div class="text-left">
      <h3> Comentar la pregunta <%= $q.pregunta %> </h3>
    </div>
  </div>

  <%= render "form", msgsub: "Comentar" %>
  
</div>
