.input-group-addon { /* Es el cuadro al lado de input */
    min-width: 120px;
    max-width: 120px;
    text-align: center;
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border:1px solid #ccc !important;
}

.form-control { /* Es el cuadro de input */
    min-width: 300px;
    max-width: 300px;
}

.panel-center {
  float: none;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #F5F5F5;
}

.devise-errors {
  h2 {
    font-size: 20px;
  }
}